body {
    background-color: hsl(288, 33%, 74%);
}
main{
    background-color: hsl(302, 27%, 45%);
    align-items: center;
    text-align: center;
    display: grid;
}
header {
    h2{
        align-self: center;
    }
    font-style: oblique;
    align-items: center;
    shape-rendering: crispEdges;
    align-content: space-between;
}

span {
    margin-right: 5em;
}

ul {
    color: rgb(85, 26, 1);
    align-items: center;
    text-align: center;
    list-style-position: inside;
}