body {
    background-color: rgb(158, 18, 0);
}

head {
    background-color: rgb(158, 18, 0);
}

span {
    margin-right: 5em;
}

ul {
    color: rgb(85, 26, 1);
    align-items: center;
    text-align: center;
    list-style-position: inside;
}